<!--
:provide page.tmpl.html content
:require nav nav
:include posts posts
:title blog
:scripts <script language="javascript">document.getElementById("nav_blog").className += " active";</script>
-->
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
           
            <ul class="nav nav-list">
                <li class="nav-header" 
                    data-toggle="collapse" 
                    data-target=".tagarchives-collapse"
                    style="cursor: pointer">Tags / Archives</li>
            </ul>
            <ul class="nav nav-list tagarchives-collapse">
                {nav}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            {posts}
        </div><!--/span-->
      </div><!--/row-->
