<!--
:provide page.tmpl.html content
:require posts posts
:require popular_links popular_links
:require rewrite rewrite
:output index.html
:scripts <script language="javascript" src="js/twidget.js"></script><script language="javascript" src="js/twidget-settings.js"></script>
:title home
-->
      <div class="resp-collapse row">
        <div class="span12">
            <center>
            <img src="/img/home_header01.png">
            </center>
        </div>
      </div>

      <div class="row">
        <div class="span8">
          <h2>latest blog</h2>
          <div class="white_rounded">
            {posts}
          </div>
        </div>
        <div class="span4">
          <h2>twitter feed</h2>
          <div id="twitter_feed">
          </div>
          <h2>popular articles</h2>
          <div class="white_rounded">
          <ul>
          {popular_links}
          </ul>
          </div>
          <h2>Protect the Internet!</h2>
          <div class="white_rounded">
          <center>
          <a href="http://internetdefenseleague.org"><img src="http://internetdefenseleague.org/images/badges/final/super_badge.png" alt="Member of The Internet Defense League" /></a>
          </center>
          <br>
          <p>
          The Internet Defense League was recently created as an "Early Warning" System
          against the corrupt politicians, corporate monopolies, and media
          cartels desire to manipulate the Internet to do their bidding. He who
          owns the infrastructure owns the people.
          <p>
          As shown several times in 2012, we are strong. The Netizens vote with
          their feet and in large numbers to show our governments and representatives
          that WE want freedom, privacy, and basic respect. The Internet 
          cannot be owned because WE make it what it is!
          </div>
          <h2>places to go</h2>
          <div class="white_rounded">
          <ul>
            <li><a href="http://samanthawarring.com/">samantha warring.com</a></li>
            <li><a href="http://toxicquixotic.wordpress.com/">toxic, quixotic</a></li>
            <li><a href="http://new.weavesilk.com/">Silk - interactive generative art</a></li>
            <li><a href="http://trello.com/">Trello - a simply amazing task manager</a></li>
            <li><a href="http://www.incredibox.com/en/#/application">Incredibox - beat boxing made easy</a></li>
            <li><a href="http://tunes.io">tunes.io - new playlist, every day</a></li>
            <li><a href="http://repl.it/#:languages">repl.it - try code in your browser</a></li>
            <li><a href="http://matt.might.net/articles/ssh-hacks/">SSH tricks</a></li>
          </ul>
          </div>
        </div>
      </div>
      {idl_script}
