---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
	<!-- Post -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
				<p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
			</header>
	    {{- content -}}
	  </div>
	</article>
	<iframe src="https://rx-shout.mooo.com/?topic={{ page.url }}&description={{ page.title }}" scrolling="no" style="width: 100%; height: 600px; overflow: hidden"></iframe>
</div>
